/*body {
    background-color: red !important;
}*/
/* ==================== RESET Y CONFIGURACIÓN BÁSICA ==================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}


/* ==================== 5. SECCIÓN DE CATALOGO ==================== */
.main-content {
  margin-top: 30px;
  margin-bottom: 50px;
}

/*===================== Mostrar N colunas de imagenes de articulos ============*/
.categories-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.cat-card {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid #e5e5e5;
  padding: 10px;
  cursor: pointer;
}

/*=========================== Tamaño de las imagenes del catálogo ========================*/
.cat-card img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

/*=========================== tamaño de texto de tedalles de articulos ==================*/
.cat-card span {
  font-size: 16px;
  font-weight: bold;
  color: #111111;
}

/* =========      Boton Whatasapp     ================*/
  .whatsapp-bottom {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
  }
